<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Christopher A. Kreid & Associates, LLC</title>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/assets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#index" style="text-decoration:none; color: #fff;">Christopher A. Kreid & Associates, LLC</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/welcome/about" style="text-decoration:none; color: #fff;">About CK&A</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none; color: #fff;">Practice Areas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/welcome/commercial" style="text-decoration:none;">Commercial</a>
                            </li>
                            <li>
                                <a href="/welcome/construction" style="text-decoration:none;">Construction</a>
                            </li>
                            <li>
                                <a href="/welcome/corporate" style="text-decoration:none;">Corporate</a>
                            </li>
                            <li>
                                <a href="/welcome/employment" style="text-decoration:none;">Labor & Employment</a>
                            </li>
                            <li>
                                <a href="/welcome/transportation" style="text-decoration:none;">Transportation</a>
                            </li>
                            <li>
                                <a href="/welcome/environmental" style="text-decoration:none;">Environmental</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/welcome/results" style="text-decoration:none; color: #fff;">Real Results</a>
                    </li>
                    <li>
                        <a href="/welcome/attorney" style="text-decoration:none; color: #fff;">Attorney Profiles</a>
                    </li>
                    <li>
                        <a href="/welcome/contact" style="text-decoration:none; color: #fff;">Contact Us</a>
                    </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>What We Do</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/#index">Home</a>
                    </li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="/assets/logopic.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>About CK&A</h2>
                <p>At CK&A our mission is to provide strategic, aggressive, efficient and cost-effective counsel to accomplish our clients’ objectives.  Effective advocacy requires a comprehensive understanding of our clients’ business and individual concerns as well as the laws and regulations governing those matters presented.</p>
                <p>CK&A’s practice is diverse as it provides legal services in various areas including commercial, construction, corporate, labor and employment, transportation, collection, real estate, insurance, small business, premises liability, healthcare, products liability and environmental matters.</p>
                <p>Communication with our clients is the cornerstone of reaching superior results. We have found that clients engaged in their matters help us win their cases by offering creative and proactive solutions.</p>
                <p>CK&A clients range from Fortune 500 corporations to family-owned businesses, well-established corporations facing the next century of doing business to entrepreneurial start-ups, limited liability companies, railroads, restaurants, insurance companies and private individuals. </p>
                <p>Thank you for your interest in Christopher A. Kreid & Associates, LLC.  We sincerely look forward to working with you on your next legal matter.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12" style="text-align: center;">
            <p>&copy; 2017 Christopher A. Kreid & Associates, LLC - All Rights Reserved </p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>

</body>

</html>
