<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Christopher A. Kreid & Associates, LLC</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">Christopher A. Kreid & Associates, LLC</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/welcome/about">About CK&A</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Practice Areas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/welcome/commercial">Commercial</a>
                            </li>
                            <li>
                                <a href="/welcome/construction">Construction</a>
                            </li>
                            <li>
                                <a href="/welcome/corporate">Corporate</a>
                            </li>
                            <li>
                                <a href="/welcome/employment">Labor & Employment</a>
                            </li>
                            <li>
                                <a href="/welcome/transportation">Transportation</a>
                            </li>
                            <li>
                                <a href="/welcome/environmental">Environmental</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/welcome/results">Real Results</a>
                    </li>
                    <li>
                        <a href="/welcome/attorney">Attorney Profiles</a>
                    </li>
                    <li>
                        <a href="/welcome/contact">Contact Us</a>
                    </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Attorney Profiles
                    <small>Who We Are</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/welcome/index">Home</a>
                    </li>
                    <li class="active">Attorney Profiles</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive img-hover" src="kitk.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Christopher A. ("Kit") Kreid</h3>
                <h4>ckreid@caklaw.net</h4>
                <p><b>Education:</b>
                   <br>Washington University School of Law
                   <br>St. Louis, Missouri
                   <br>J.D. 1986

                   <br>University of Illinois
                   <br>Champaign, Illinois
                   <br>B.S. Finance with Honors, 1983

                <br><b>Admissions:</b>
                  <br> State Bar of Illinois
                  <br> U.S. Court of Appeals for the Seventh Circuit
                  <br> Federal Trial Bar
                   <br>U.S. District Court – various Districts
                   <br>U.S. Bankruptcy Court - various IL and IN districts

                    <br><b>Memberships:</b>
                      <br> National Association of Railroad Trial Counsel (NARTC)
                       <br>American Bar Association (ABA)
                       <br>Illinois State Bar Association (ISBA)
                       <br>Chicago Bar Association (CBA)
                       <br>   Mechanics Lien Committee
                       <br>   Trade & Professional Association Law Committee

                   <br> <b>Service:</b>
                     <br>  Trustee, Monticello College Foundation
                         promoting womens' collegiate education through
                          endowment/scholarship programs

                       <br>Member, St. Ignatius College Prep Law Society 
                       <br></p>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
             <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive img-hover" src="tomc.jpg" alt="">
            </div>
            <div class="col-md-5 col-md-7">
                <h3>Thomas Cushing</h3>
                <h4>tcushing@caklaw.net</h4>
                <br><h4>1.847.869.0401</h4></br>
                <p><b>Education:</b>
                   <br>Loyola University School of Law
                   <br>Chicago, Illinois
                   <br>J.D. 1988

                   <br>University of Notre Dame
                   <br>South Bend, Indiana
                   <br>BA English and Government 1983

                <br><b>Admissions:</b>
                  <br> State Bar of Illinois
                  <br> U.S. Court of Appeals for the Seventh Circuit
                  <br> Federal Trial Bar
                   <br>Northern District of Illinois, Trial Bar
                   

                    <br><b>Memberships:</b>
                      <br> Illinois State Bar Association
                       <br>Chicago Bar Association
                       <br>Association of Attorney Mediators
                       <br>Cook County Circuit Court Law Division, Court-Annexed Major Case Civil Mediation Program, and Chancery Division Court-Certified Mediator 
                       <br>   Cook County Circuit Court, Chancery Division Mediation Program, Court-Certified Mediator
                       

                   <br> <b>Service:</b>
                     <br>  Attorney Registration and Disciplinary Commission Hearing Board Member
                     <br> Chicago Volunteer Legal Services, pro bono residential foreclosures
                     <br> Mercy Home for Boys and Girls, served twenty-one years as Board Member
                     <br> Longtime youth athletics coach, parochial school board chair
                     <br> Connections for the Homeless, volunteer

                <br><b> Experience</b>
                <br> Representative recent matters:
                <br>-$30M piercingcorporate veil chancery case
                <br>-$16M multi district litigation over loss sensitive insurance premiums
                <br>-Chancery challenge to zoning for $30 M industrial project in city
                <br>-Law Division trial in faulty construction case
                <br>-Facilitating Mayor's Task Force on re-use of coal-fired power plants
                <br>Civil Litigation practice with focus in commecial chancery, environment, extensive personal injury experience
                <br> Ambrose & Cushing, PC, Chicago
                <br> November 1988 to October 2005
                <br>Twenty-seven year attorney, focus on civil litigation, with concentration on complex professional and landowner liability. 
                <br>Principal or co-principal attorney on the following noteworthy matters:
                <br>• $4.7 million verdict in lender liability suit
            <br>• $1 million verdict for victim of police shooting
            <br>• $2.3 million verdict for neurosurgery patient 
            <br>• $4 million verdict for MVA traumatic brain injury
            <br>• $1 million verdict, chronic pain following MVA
            <br>• Confidential settlement, wrongful death, improper police chase 
            <br>• $1 million settlement at trial, wrongful death, funeral procession 
            <br>• $900,000 settlement, wrongful death from upper airway obstruction, profoundly impaired child victim
            <br>• Confidential settlement for high rise fire victim, oxygen deprivation/PTSD against local government
            <br>• Confidential settlement, wrongful death, delay in cervical cancer diagnosis
            <br>• Confidential settlement, wrongful death, delay in prostate cancer diagnosis
            <br>• Wrongful Death verdict against CTA for un-witnessed accident
            <br>• Confidential wrongful death settlement against a US auto manufacturer, crashworthiness theory
            <br>• Largest known award at time for loss of consortium in Wyoming
            <br>• Multiple appeals to Illinois Appellate Court, as well as appeals to the 
            Illinois Supreme Court and Seventh Circuit Court of Appeals
            <br>• Not guilty verdict for defendant in aggravated battery on police officer
            <br>• Not guilty verdict for defendant on vehicular homicide charge
            <br> Won multiple million dollar plus results for victims in wrongful death, traumatic brain injury, chronic pain, medical negligence, and lender liability cases
            <br> Written and argued numerous appeals across the Illinois Appellate Court, 
            Illinois Supreme Court and the 7th Circuit Court of Appeals
            <br> Appointed by the Illinois Supreme Court to the Hearing Board of the Attorney 
            Registration and Disciplinary Commission, judging cases alleging attorney misconduct
            <br> Adjunct Professor of Law at Loyola University School of Law, teaching trial procedure and alternative dispute resolution
                       <br></p>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>


        <hr>

         <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2015 Christopher A. Kreid & Associates, LLC - All Rights Reserved </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>

</body>

</html>
