<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tedman Marszalek</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Style -->
    <link href="carousel.css" rel="stylesheet">

  </head>

    <body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/welcome/index">Tedman Marszalek</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/welcome/index">Home</a></li>
                <li><a href="/welcome/about">About</a></li>
                <li class="active"><a href="/welcome/contact">Contact</a></li>
                <li><a href="/welcome/photos">Photos</a></li>
                <li><a href="/welcome/music">Music</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Work</li>
                    <li><a href="https://www.linkedin.com/profile/view?id=AAMAABNCsTsBMeSNo1swxGQVvH_yqlf-n_JLOWo&trk=hp-identity-photo">Linkedin</a></li>
                    <li><a href="https://github.com/tedmarszalek">Github</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Social</li>
                    <li><a href="https://www.facebook.com/teddy.marszalek">Facebook</a></li>
                    <li><a href="https://twitter.com/HighSchoolTed">Twitter</a></li>
                    <li><a href="https://www.instagram.com/tedmanmarszman/">Instagram</a></li>
                    <li><a href="https://soundcloud.com/numbertheory/">Soundcloud</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div class="container marketing">

    <hr class="featurette-divider">

    <!-- See citations.txt, Reference: https://bootswatch.com/cosmo/#forms -->

    <!-- Contact Form -->
    <form class="form-horizontal">
    <fieldset>
      <legend>Contact</legend>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Full Name:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email Address:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPhone" class="col-lg-2 control-label">Phone Number:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputPhone" placeholder="Number">
        </div>
      </div>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Message</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="message"></textarea>
        </div>
      </div>
      <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </div>

  </form>

  <hr class="featurette-divider">

<!--

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">tedman.marszalek@gmail.com<span class="text-muted"> </span></h2>
          <p class="lead"> </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://tinyurl.com/ovd7ewo">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tedman Marszalek <span class="text-muted">linkedin</span></h2>
          <p class="lead">visit my linkedin. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://tinyurl.com/nrwgox4" href="https://www.linkedin.com/profile/view?id=AAMAABNCsTsBMeSNo1swxGQVvH_yqlf-n_JLOWo&trk=hp-identity-photo">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">tedmarszalek<span class="text-muted"> github </span></h2>
          <p class="lead">visit my github. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://tinyurl.com/ndh55o2">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">teddy.marszalek <span class="text-muted">facebook</span></h2>
          <p class="lead">visit my facebook. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://tinyurl.com/m9kq7s4">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">HighSchoolTed<span class="text-muted"> twitter </span></h2>
          <p class="lead">visit my twitter. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://tinyurl.com/kyywxwg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> tedmanmarszman <span class="text-muted">instagram</span></h2>
          <p class="lead">visit my instagram. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://tinyurl.com/o5ejea3">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">number theory<span class="text-muted"> soundcloud </span></h2>
          <p class="lead">visit my soundcloud.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://tinyurl.com/og3qcdr">
        </div>
      </div>

      <hr class="featurette-divider">

-->

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Return to top</a></p>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
