<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Christopher A. Kreid & Associates, LLC</title>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/assets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#index" style="text-decoration:none; color: #fff;">Christopher A. Kreid & Associates, LLC</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/welcome/about" style="text-decoration:none; color: #fff;">About CK&A</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none; color: #fff;">Practice Areas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/welcome/commercial" style="text-decoration:none;">Commercial</a>
                            </li>
                            <li>
                                <a href="/welcome/construction" style="text-decoration:none;">Construction</a>
                            </li>
                            <li>
                                <a href="/welcome/corporate" style="text-decoration:none;">Corporate</a>
                            </li>
                            <li>
                                <a href="/welcome/employment" style="text-decoration:none;">Labor & Employment</a>
                            </li>
                            <li>
                                <a href="/welcome/transportation" style="text-decoration:none;">Transportation</a>
                            </li>
                            <li>
                                <a href="/welcome/environmental" style="text-decoration:none;">Environmental</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/welcome/results" style="text-decoration:none; color: #fff;">Real Results</a>
                    </li>
                    <li>
                        <a href="/welcome/attorney" style="text-decoration:none; color: #fff;">Attorney Profiles</a>
                    </li>
                    <li>
                        <a href="/welcome/contact" style="text-decoration:none; color: #fff;">Contact Us</a>
                    </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Practice Areas
                    <small>Corporate</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/#index">Home</a></li>
                    <li>Practice Areas</li>
                    <li class="active">Corporate</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                           <img class="img-responsive" src="/assets/corp1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/corp2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/employee.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Corporate</h3>
              <p> CK&A has significant experience in advising and representing Fortune 500 corporations, well-established corporations facing the next half century or century of operations, middle-market contenders, family-owned businesses, entrepreneurs capitalizing on lucrative business plans and individuals seeking to market that next Great Idea.  </p>

            <p>We handle corporate organization from start-up to maintaining and enforcing corporate and limited liability protections.  CK&A is uniquely positioned to effectively and efficiently handle matters of corporate governance as well as litigation that arises in the conduct of business.</p>

            <p>CK&A counsels on day-to-day operations, from drafting the operating agreements to handling succession plans and agreements or the winding up of an entity.</p>  



            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Other Areas</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/welcome/commercial">
                    <img class="img-responsive img-hover img-related" src="/assets/commercial2.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/welcome/employment">
                    <img class="img-responsive img-hover img-related" src="/assets/employment.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/welcome/environmental">
                    <img class="img-responsive img-hover img-related" src="/assets/environment.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/welcome/transportation">
                    <img class="img-responsive img-hover img-related" src="/assets/transportation.jpeg" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->


        <hr>
      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12" style="text-align: center;">
            <p>&copy; 2017 Christopher A. Kreid & Associates, LLC - All Rights Reserved </p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>

