<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tedman Marszalek</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Style -->
    <link href="carousel.css" rel="stylesheet">
    <link href="twitter.css" rel="stylesheet">

  </head>

<body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/welcome/index">Tedman Marszalek</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/welcome/index">Home</a></li>
                <li><a href="/welcome/about">About</a></li>
                <li><a href="/welcome/contact">Contact</a></li>
                <li class="active"><a href="/welcome/photos">Photos</a></li>
                <li><a href="/welcome/music">Music</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Work</li>
                    <li><a href="https://www.linkedin.com/profile/view?id=AAMAABNCsTsBMeSNo1swxGQVvH_yqlf-n_JLOWo&trk=hp-identity-photo">Linkedin</a></li>
                    <li><a href="https://github.com/tedmarszalek">Github</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Social</li>
                    <li><a href="https://www.facebook.com/teddy.marszalek">Facebook</a></li>
                    <li><a href="https://twitter.com/HighSchoolTed">Twitter</a></li>
                    <li><a href="https://www.instagram.com/tedmanmarszman/">Instagram</a></li>
                    <li><a href="https://soundcloud.com/numbertheory/">Soundcloud</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

<div class="container">
  

  <hr class="featurette-divider">

  <!-- Instafeed Realtime -->
  <script src="../../assets/javascripts/instafeed.js-master/instafeed.min.js"></script>
  <script type="text/javascript">

    var feed = new Instafeed({
        get: 'user',
        userId: '1687554351',
        clientId: '8e23c31d9e9d4928ad7296a8bdb5d718',
        sortBy: 'most-recent',
        resolution: 'standard_resolution',
        limit: '1000',
        template: '<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin-left: 200px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background: url({{image}}); line-height:0; margin-top:10px; padding:50.0% 0; text-align:center; width:100%;"> </div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="{{link}}" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">{{caption}}</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by tedman (@tedmanmarszman) in <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-08-20T23:43:30+00:00">{{location}}</time></p></div></blockquote><hr class="featurette-divider">', 
        filter: function(image) {
            return image.tags.indexOf('site') >= 0;
        }

    });
    feed.run();


  </script>

  <div id="instafeed"></div>

  <hr class="featurette-divider">

      <!-- Twitter Timeline -->
      <!-- See citations.txt, Reference: http://stackoverflow.com/questions/30213527/how-to-embed-twitter-timeline-widget-in-html -->
      <a class="twitter-timeline"  href="https://twitter.com/HighSchoolTed"  data-widget-id="664698787613401089" style="">HighSchoolTed </a>
      <script>

        !function()
        { 
          var element;
          var parent = document.getElementsByTagName("script")[0];

          if(!document.getElementById("twitter-wjs"))
          {
              element = document.createElement("script");
              element.src = "//platform.twitter.com/widgets.js";
              element.id = "twitter-wjs";
              parent.parentNode.insertBefore( element, parent );
          }

        } ();

      </script>

	<hr class="featurette-divider">

    <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Return to top</a></p>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>