<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tedman Marszalek</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Style -->
    <link href="carousel.css" rel="stylesheet">

  </head>

<!-- NAV -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/welcome/index">Tedman Marszalek</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/welcome/index">Home</a></li>
                <li><a href="/welcome/about">About</a></li>
                <li><a href="/welcome/contact">Contact</a></li>
                <li><a href="/welcome/photos">Photos</a></li>
                <li><a href="/welcome/music">Music</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Work</li>
                    <li><a href="https://www.linkedin.com/profile/view?id=AAMAABNCsTsBMeSNo1swxGQVvH_yqlf-n_JLOWo&trk=hp-identity-photo">Linkedin</a></li>
                    <li><a href="https://github.com/tedmarszalek">Github</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Social</li>
                    <li><a href="https://www.facebook.com/teddy.marszalek">Facebook</a></li>
                    <li><a href="https://twitter.com/HighSchoolTed">Twitter</a></li>
                    <li><a href="https://www.instagram.com/tedmanmarszman/">Instagram</a></li>
                    <li><a href="https://soundcloud.com/numbertheory/">Soundcloud</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div class="container marketing">

      <!-- Info Ovals -->

      <div class="row" style="PADDING-TOP: 100px">
        <div class="col-lg-4">
          <img class="img-circle" src="http://tinyurl.com/nu5zp3h" width="140" height="140">
          <h2>University of Illinois Urbana-Champaign</h2>
          <p>Bachelor of Science in Engineering, Computer Science, Graduation: May 2016. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>

        <div class="col-lg-4">
          <img class="img-circle" src="/assets/tedman.jpg" alt="Generic placeholder image" width="280" height="280">
          <h2>Tedman Marszalek</h2>
          <p>Software Engineering Intern.</p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>

        <div class="col-lg-4">
          <img class="img" src="http://tinyurl.com/o7jmhs4" alt="Generic placeholder image" width="140" height="140">
          <h2>Danmarks Tekniske Universitet</h2>
          <p>Technical Univeristy of Copenhagen Denmark, Mathematics and Computer Science coursework, Spring 2015.</p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>

      </div>


    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide container" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img class="first-slide" src="/assets/norway1.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Operahuset</h1>
              <p>Oslo</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="first-slide" src="/assets/norway3.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Bispevika</h1>
              <p>Oslo</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="/assets/norrebro.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Norrebro</h1>
              <p>Copenhagen</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="/assets/osterbro.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Østerbro</h1>
              <p>Copenhagen</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="/assets/tingbjerg.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tingbjerg</h1>
              <p>Copenhagen</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="/assets/bergen.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Old Town</h1>
              <p>Bergen</p>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img class="second-slide" src="/assets/prague.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Petrin Tower</h1>
              <p>Prague</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="/assets/glennevis1.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Glen Nevis</h1>
              <p>Fort William</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide" src="/assets/rockisland.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Rock Island</h1>
              <p>Washington</p>
            </div>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div><!-- /.carousel -->

    <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Return to top</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
