<!DOCTYPE html>
<html>
<head>
  <title>Christopher A. Kreid & Associates, LLC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/assets/modern-business.css" rel="stylesheet">

  <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

<%= yield %>

</body>
</html>
